.menu-item{
    margin-top: 35px;
}
.menu-item a, .menu-item-btn .btn{
    font-weight: 500;
}

.menu a{
    color: rgba(0, 0, 0, 0.6) !important;
    text-decoration: none;
    transition: all 0.4s ease-in-out 0s;
    font-size: 16px !important;
}

.menu a:hover {
    opacity: 0.7;
    transition: all 0.4s ease-in-out 0s;
}

.header{
    width: 100%;
    margin-top: -120px;
    background-color: #FFFFFF;
    z-index: 100000;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1)
}

.hero{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("https://d1yoaun8syyxxt.cloudfront.net/wq136-4d5ef48f-6f2e-4976-892b-aa02bf413a3b-v2");
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 725px;
}


#mainContent{
    margin-top: -1px;
    padding-top: 115px;
}

.menu-item-btn{
    margin-top: 30px;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.menu-item-btn .btn,.btn-container .btn {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding-bottom: 6px !important;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 6px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
.menu-item-btn .btn,.btn-container .btn {
    background-color: #41533B;
    border-color: #33442e;
    color: #fff !important;
}


.menu-item-btn .btn,.btn-container .btn {
    color: rgba(0, 0, 0, 0.6);
    display: block;
    position: relative;
    text-decoration: none;
    transition: all 0.4s ease-in-out 0s;
}
.menu-item-btn .btn:hover,.btn-container .btn:hover {
    opacity: 0.7;
    transition: all 0.4s ease-in-out 0s;
}

.btn-container{
    width: 175px;
    margin: 0 auto;
}

.btn-container .btn{
    font-size: 22px;
    background-color: #41533C;
    border-color: #33442c;
}

.quote .column{
    width: 33%;
}


.infusion-submit button {
    width: 100%;
}




















.et_pb_counters, .et_pb_pricing, .et_pb_widget_area ul, .et_pb_tabs_controls {
    line-height: inherit !important;
    list-style: outside none none !important;
    padding: 0 !important;
}

.et_pb_column_4_4 .et_pb_pricing_table:nth-child(4n+1), .et_pb_column_3_4 .et_pb_pricing_table:nth-child(3n+1), .et_pb_column_2_3 .et_pb_pricing_table:nth-child(2n+1), .et_pb_column_1_2 .et_pb_pricing_table:nth-child(2n+1) {
    clear: both;
}
.et_pb_pricing_table {
    width: 25%;
}
.et_pb_pricing_table {
    background-color: #fcfcfc;
    border: 1px solid #bebebe;
    float: left;
    margin: 30px -1px 0 0;
    padding-bottom: 30px;
    text-align: center;
}

.et_pb_pricing_heading {
    background-color: #bebebe;
    margin-bottom: 17px;
    padding: 10px 0;
}

.et_pb_pricing_heading h2 {
    color: #fff;
    padding-bottom: 5px;
}

.et_pb_pricing_content_top {
    border-bottom: 1px solid #bebebe;
    padding-bottom: 30px;
}

.et_pb_et_price {
    color: #999;
    font-size: 16px;
}

.et_pb_dollar_sign {
    font-size: 18px;
    font-weight: 400;
    margin-left: -0.5em;
    position: absolute;
}

.et_pb_sum {
    font-size: 80px;
    font-weight: 300;
    line-height: 1.03em;
    color: #355b29;
}

.et_pb_pricing_content {
    padding: 30px;
    text-align: left;
}

#left-area ul, .entry-content ul, .comment-content ul, body.et-pb-preview #main-content .container ul {
    line-height: 26px;
    list-style-type: disc;
    padding: 0 0 23px 16px;
}

.et_pb_pricing li {
    line-height: 1.6em;
    padding: 0 0 0.9em 14px;
    position: relative;
}

.et_pb_pricing li span::before {
    border-radius: 3px;
    border-style: solid;
    border-width: 3px;
    content: "";
    left: -14px;
    position: absolute;
    top: 9px;
}
.et_pb_pricing li span::before {
    border-color: #355b29;
}
.et_pb_pricing li span {
    position: relative;
}

.et_pb_pricing_table_button {
    display: inline-block;
}
.et_pb_sum, .et_pb_pricing li a, .et_pb_pricing_table_button, .et_overlay::before, .et_pb_member_social_links a:hover, .woocommerce-page #content input.button:hover .et_pb_widget li a:hover, .et_pb_bg_layout_light .et_pb_promo_button, .et_pb_bg_layout_light .et_pb_more_button, .et_pb_filterable_portfolio .et_pb_portfolio_filters li a.active, .et_pb_filterable_portfolio .et_pb_portofolio_pagination ul li a.active, .et_pb_gallery .et_pb_gallery_pagination ul li a.active, .et_pb_contact_submit, .et_pb_bg_layout_light .et_pb_newsletter_button {
    color: #355b29;
}
.et_pb_pricing_table a {
    color: #355b29 !important;
    text-decoration: none;
}


.et_pb_button {
    background: transparent none repeat scroll 0 0;
    border: 2px solid;
    border-radius: 3px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.7em !important;
    padding: 0.3em 1em;
    position: relative;
    transition: all 0.2s ease 0s;
}
.et_pb_button:hover {
    border: 2px solid transparent;
}
.et_pb_button:hover {
    background: rgba(255, 255, 255, 0.2) none repeat scroll 0 0;
}
.et_pb_bg_layout_light .et_pb_button:hover, .et_pb_pricing_table_button:hover, .et_pb_contact_submit:hover, .et_pb_contact_reset:hover {
    background: rgba(0, 0, 0, 0.05) none repeat scroll 0 0;
}
.et_pb_button::after {
    font-size: 32px;
    line-height: 1em;
    margin-left: -1em;
    opacity: 0;
    position: absolute;
    transition: all 0.2s ease 0s;
}
.et_pb_button:hover::after, .et_pb_more_button:hover::after, .et_pb_promo_button:hover::after, .et_pb_newsletter_button:hover::after, .et_pb_pricing_table_button:hover::after {
    margin-left: 0;
    opacity: 1;
}
.et_pb_contact_reset:hover {
    padding: 0.3em 1em;
}

.et_pb_featured_table {
    background-color: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    margin-top: 0;
    position: relative;
    z-index: 100;
}

.et_pb_counter_amount, .et_pb_featured_table .et_pb_pricing_heading, .et_quote_content, .et_link_content, .et_audio_content {
    background-color: #355b29;
}










/* Media Queries */
@media only screen and ( max-width: 850px ) {
    .et_pb_pricing_table {
        margin: 0 0 30px !important;
        width: 50% !important;
    }
    .et_pb_pricing_table:nth-child(2n+1) {
        clear: both;
    }
}
@media only screen and ( max-width: 645px ) {
    .hero{
        margin-top: 70px;
    }

    .quote .column{
        width: 100%;
    }

    .quote .column .medium-9 {
        width: 70% !important;
        margin-bottom: 15px !important;
    }

    .quote .column .medium-3 {
        width: 20% !important;
        margin-bottom: 15px !important;
    }

}

@media only screen and ( max-width: 500px ) {
    .et_pb_pricing_table {
        margin: 0 0 30px !important;
        width: 100% !important;
    }
    .et_pb_pricing_table:nth-child(2n+1) {
        clear: both;
    }

}

